@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Shadows+Into+Light&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.purpleShadow {
  box-shadow: 10px 10px 1px 1px rgb(59, 179, 113);
}
.purpleShadow:hover {
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 1px 1px rgb(59, 179, 113);
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
